<html>
<head>
	<style>
		.container{
			width:100vw;
			text-align:center;
		}
		.pattern_unit{
			width: 20px;
			height: 20px;
			border: 1px solid #d3d3d3;
		}
		.pattern_block{
			display:inline-block;
			margin: 1em;
		}
	</style>
</head>
<body>
	<div class="container">
	{% for c in range(classes) %}
		<table class="pattern_block">
			<caption>PATTERN #{{c}}</caption>
		{% for i in range(pattern_size) %}
			<tr>
			{% for j in range(pattern_size) %}
				<td><button name="p{{c}}" class="pattern_unit"></button></td>
			{% end %}
			</tr>
		{% end %}
		</table>
	{% end %}
	<div>
	
	<div class="container">
		<button id="train_btn" type="button" onclick="learn_pattern()">LEARN PATTERN</button>
	</div>
		
	<div class="container">
		<table class="pattern_block">
		{% for i in range(pattern_size) %}
			<tr>
			{% for j in range(pattern_size) %}
				<td><button name="tp" class="pattern_unit"></button></td>
			{% end %}
			</tr>
		{% end %}
		</table>
	<div>
	
	<div class="container">
		<button id="test_btn" type="button" onclick="try_pattern()" disabled>TEST PATTERN</button>
	</div>
	
	
	
	<script type="text/javascript" src="{{static_url('hopfield.js')}}"></script>
	<script>
		{% for p in range(classes) %}
			var P{{p}} = document.getElementsByName("p{{p}}");
			for(var i=0; i<P{{p}}.length; i++){
				P{{p}}[i].addEventListener("click", function(){
					var curr_state = this.style.backgroundColor;
					if(curr_state=="black"){
						this.style.backgroundColor = "";
					}else{
						this.style.backgroundColor = "black";
					}
				});
			}
		{% end %}
		var T = document.getElementsByName("tp");
		for(var i=0; i<T.length; i++){
			T[i].addEventListener("click", function(){
				var curr_state = this.style.backgroundColor;
				if(curr_state=="black"){
					this.style.backgroundColor = "";
				}else{
					this.style.backgroundColor = "black";
				}
			});
		}
		
		function learn_pattern(){
			var SAMPLE = [];
			{% for p in range(classes) %}
				SAMPLE[{{p}}] = [];
				var P{{p}} = document.getElementsByName("p{{p}}");
				for(var i=0; i<P{{p}}.length; i++){
					var curr_state = P{{p}}[i].style.backgroundColor;
					if(curr_state=="black"){
						SAMPLE[{{p}}][i] = 1;
					}else{
						SAMPLE[{{p}}][i] = 0;
					}
				}
			{% end %}
			
			hp_learn_pattern({{pattern_size}}*{{pattern_size}}, SAMPLE);
			document.getElementById('test_btn').removeAttribute("disabled");
		}
		
		function try_pattern(){
			TEST = [];
			var tests = document.getElementsByName("tp");
			for(var i=0; i<tests.length; i++){
				curr_state = tests[i].style.backgroundColor;
				if(curr_state=="black"){
					TEST[i] = 1;
				}else{
					TEST[i] = 0;
				}
			}
			
			var states = hp_try_pattern({{pattern_size}}*{{pattern_size}}, TEST);
			showStates(states);
		}
		
		async function showStates(states){
			train_btn = document.getElementById('train_btn');
			train_btn.setAttribute("disabled","");
			var tests = document.getElementsByName("tp");
			for(var s=0; s<states.length; s++){
				for(var i=0; i<tests.length; i++){
					tests[i].style.borderColor = "red";
					if(states[s][i]==0){
						tests[i].style.backgroundColor = "";
					}else{
						tests[i].style.backgroundColor = "black";
					}
					await sleep(100);
					tests[i].style.borderColor = "#d3d3d3";
				}
			}
			alert('it\'s Stable!');
			train_btn.removeAttribute('disabled');
		}
		
		function sleep(ms) {
		  return new Promise(resolve => setTimeout(resolve, ms))
		}
	</script>
</body>
</html>
















